/.vs/ZoneRecovery/v15
/ZoneRecovery/bin/Debug
/ZoneRecovery/obj/Debug
/ZoneRecoveryCalculatorTests/bin/Debug/netcoreapp2.1
/ZoneRecoveryCalculatorTests/obj/Debug/netcoreapp2.1
/ZoneRecoveryCalculatorTests/obj
/.vs/ZoneRecovery/DesignTimeBuild
/ZoneRecoveryAlgorithmTests/bin/Debug/netcoreapp2.1
/ZoneRecoveryAlgorithmTests/obj/Debug/netcoreapp2.1
/ZoneRecoveryAlgorithmTests/obj
/ZoneRecoveryStrategy/bin/Debug/netstandard2.0
/ZoneRecoveryStrategy/obj/Debug/netstandard2.0
/ZoneRecoveryStrategy/obj
/packages/MSTest.TestAdapter.1.3.2
/packages/MSTest.TestFramework.1.3.2
/ZoneRecoveryAlgorithm/bin/Debug/netstandard2.0
/ZoneRecoveryAlgorithm/obj/Debug/netstandard2.0
/ZoneRecoveryAlgorithm/obj
/MarketProbe.UnitTests/bin/Debug/netcoreapp2.1/*.pdb
/MarketProbe.UnitTests/bin/Debug/netcoreapp2.1/*.dll
/MarketProbe.UnitTests/bin/Debug/netcoreapp2.1
/MarketProbe.UnitTests/obj/Debug/netcoreapp2.1
/MarketProbe.UnitTests/obj/*.cache
/MarketProbe.UnitTests/obj/*.props
/MarketProbe.UnitTests/obj/*.targets
/MarketProbe.UnitTests/obj
/MarketProbe/bin/Debug/netcoreapp2.1/*.dll
/MarketProbe/bin/Debug/netcoreapp2.1
/MarketProbe/obj/Debug/netcoreapp2.1
/MarketProbe/obj
/ZoneRecoveryBacktester/bin/Debug/netcoreapp2.1
/ZoneRecoveryBacktester/obj/Debug/netcoreapp2.1
/ZoneRecoveryBacktester/obj
/CTraderCAlgo/obj/Debug/netstandard2.0/*.pdb
/CTraderCAlgo/obj/Debug/netstandard2.0/*.dll
/CTraderCAlgo/obj/Debug/netstandard2.0/*.cache
/CTraderCAlgo/obj/Debug/netstandard2.0
/CTraderCAlgo/obj/*.targets
/CTraderCAlgo/obj/*.cache
/CTraderCAlgo/obj/*.props
/CTraderCAlgo/bin/Debug/netstandard2.0/*.pdb
/CTraderCAlgo/bin/Debug/netstandard2.0
/CTraderCAlgo/obj
